body {
    background-color: #2e2e2e;
    text-align: center;
    position: relative;
}

/* navbar styling */
.navbar {
    background-color: #2e2e2e;
    font-family: Poppins, sans-serif;
    padding-left: 4vw;
    padding-right: 4vw;
}
.navbar .navbar-brand {
    font-family: Rubik, sans-serif;
    font-weight: 500;
    color: #c5faa5;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    transform: scale(1.1);
}
.navbar .navbar-text {
    color: #c5faa5;
}
.navbar .navbar-text a {
    color: #2e2e2e;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    transform: scale(1.1);
}
.navbar .navbar-nav .nav-link {
    color: #c5faa5;
    border-radius: 0.25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    transform: scale(1.1);
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #2e2e2e;
    border-color: #c5faa5;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #c5faa5;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #2e2e2e;
    background-color: #c5faa5;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #c5faa5;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #2e2e2e;
    background-color: #c5faa5;
}
.navbar .navbar-toggle {
    border-color: #c5faa5;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #c5faa5;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #c5faa5;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #c5faa5;
}
.navbar .navbar-link {
    color: #c5faa5;
}
.navbar .navbar-link:hover {
    color: #2e2e2e;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #c5faa5;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #2e2e2e;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #2e2e2e;
        background-color: #c5faa5;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #c5faa5;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #2e2e2e;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #2e2e2e;
        background-color: #c5faa5;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #c5faa5;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #2e2e2e;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #2e2e2e;
        background-color: #c5faa5;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #c5faa5;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #2e2e2e;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #2e2e2e;
        background-color: #c5faa5;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c5faa5;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2e2e2e;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2e2e2e;
    background-color: #c5faa5;
}

#welcome-x-shape {
    position: absolute;
    margin-left: 20vw;
    margin-top: 20vh;
    font-size: 5vmax;
    color: #ef476f;
    -webkit-animation: rotation 8s linear infinite;
}
#welcome-box-shape {
    position: absolute;
    margin-left: -30vw;
    margin-top: 65vh;
    font-size: 4vmax;
    color: #bcb6ff;
    -webkit-animation: rotation 10s linear infinite reverse;
}
#welcome-ig-shape {
    position: absolute;
    margin-left: 30vw;
    margin-top: 80vh;
    font-size: 5vmax;
    color: #df6f94;
    -webkit-animation: rotation 14s linear infinite reverse;
}
#welcome-spotify-shape {
    position: absolute;
    margin-left: 15vw;
    margin-top: 60vh;
    font-size: 5vmax;
    color: #c5faa5;
    -webkit-animation: rotation 10s linear infinite;
}
#welcome-down-shape {
    animation: text-shadow 8s ease-in-out infinite;
}
#about-circle-shape {
    position: absolute;
    margin-left: 25vw;
    margin-top: 75vh;
    font-size: 5vmax;
    color: #ff8427;
    -webkit-animation: grow 3s ease-in-out infinite;
}
#about-circle-shape2 {
    position: absolute;
    margin-left: 25vw;
    margin-top: 75vh;
    font-size: 5vmax;
    color: #ef476f;
    -webkit-animation: grow2 3s ease-in-out infinite;
}
#contact-linkedin-shape {
    position: absolute;
    margin-left: -20vw;
    margin-top: 60vh;
    font-size: 6vmax;
    color: #63acfa;
}
#contact-email-shape {
    font-size: 6vmax;
    color: #000000;
}
#contact-box-shape {
    transform: rotate(-30deg);
    position: absolute;
    margin-left: -30vw;
    margin-top: 17vh;
    font-size: 10vmax;
    color: #bcb6ff;
    /* -webkit-animation: grow3 3s ease-in-out infinite; */
}
#contact-cross-shape {
    position: absolute;
    margin-left: 30vw;
    margin-top: 65vh;
    font-size: 10vmax;
    color: #ff8427;
    -webkit-animation: rotation 10s linear infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(2);
    }
}
@-webkit-keyframes grow2 {
    0% {
        -webkit-transform: scale(2);
    }
    50% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(2);
    }
}
@-webkit-keyframes grow3 {
    0% {
        -webkit-transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1.1);
    }
}
#about-title {
    font-family: Rubik, sans-serif;
    font-weight: 500;
    transform: rotate(-2.5deg);
    font-size: 3vmax;
}
#contact-title {
    font-family: Rubik, sans-serif;
    font-weight: 500;
    transform: rotate(-2.5deg);
    font-size: 3vmax;
}
/* class styling */
.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.welcome {
    font-size: 152%;
    font-family: Poppins;
    font-weight: 500;
    color: #c5faa5;
}
.about-p {
    font-family: Poppins, sans-serif;
    text-align: center;
    line-height: 200%;
    font-size: 1.8vmax;
    padding-bottom: 8px;
}
.contact-link {
    color: black;
    font-size: 2.5vmax;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    line-height: 2em;
}
.jumpylink {
    display: inline-block;
    text-decoration: underline;
    animation: text-shadow 1.5s ease-in-out infinite;
}

#about {
    background-color: #bcb6ff;
}
#projects {
    background-color: #ff8427;
}
#contact {
    background-color: #ef476f;
}
#footer {
    background-color: #c5faa5;
    font-family: Poppins, sans-serif;
    font-size: 80%;
    line-height: 6em;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-0.5em);
    }
    40% {
        transform: translateY(0.25em);
    }
    60% {
        transform: translateY(-0.125em);
    }
    80% {
        transform: translateY(0);
    }
}
